
<div class="footer__navs">
    {{widget type="interface/widget_logo" template="interface/widgets/logo.phtml" identificador="footlogo" imagem="wysiwyg/logo/nexy.svg" imagem_mobile="wysiwyg/logo/nexy.svg" alt_imagem="Nexy" tag_html="h3" tag_html_home="h3"}}
    {{block type="menubuilder/output" identifier="footer-institucional"}}
    {{block type="menubuilder/output" identifier="footer-account"}}
</div>
<div class="footer__copyright">
    © 2002-2020 INEXUS – CNPJ 05.952.565/0003-54 •  Av. Adolfo Konder, 1401 – Cidade Nova, Itajaí - SC • CEP 88308-005
</div>