<div class="instagram">
    <div class="instagram__container">
        <div class="instagram__header">
            <h3 class="instagram__title">Instagram</h3>
            <a href="#" class="instagram__link">@nexybrand</a>
        </div>
        <div class="instagram__main">
            <a href="">
                <img src="https://fakeimg.pl/340/" alt="">
            </a>
            <a href="">
                <img src="https://fakeimg.pl/340/" alt="">
            </a>
            <a href="">
                <img src="https://fakeimg.pl/340/" alt="">
            </a>
            <a href="">
                <img src="https://fakeimg.pl/340/" alt="">
            </a>
        </div>
    </div>
</div>