
Regua de Vantagens - Frete Grátis nas Compras acima de 299.90!
<div class="ruler">
    <svg class="ico z-truck">
        <use xlink:href="#z-truck" />
    </svg>
    <span>Frete Grátis nas Compras acima de 299.90!</span>
</div>

Regua de Vantagens - Parcelamento em até 6x sem juros!
<div class="ruler">
    <svg class="ico z-dolar">
        <use xlink:href="#z-dolar" />
    </svg>
    <span>Parcelamento em até 6x sem juros!</span>
</div>

Regua de Vantagens - Acima de R$ 699,90 ganhe blusa térmica Nexy!
<div class="ruler">
    <svg class="ico z-shirt">
        <use xlink:href="#z-shirt" />
    </svg>
    <span>Acima de R$ 699,90 ganhe blusa térmica Nexy!</span>
</div>

Regua de Vantagens - Devolução Fácil em 30 dias!
<div class="ruler">
    <svg class="ico z-calendar">
        <use xlink:href="#z-calendar" />
    </svg>
    <span>Devolução Fácil em 30 dias!</span>
</div>
