<div class="showcase showcase--descriptions">
    <div class="showcase__image">
        <img src="{{media url="wysiwyg/showcase/banner-vitrine-02.jpg"}}" alt="" />
    </div>
    <div class="showcase__descriptions">
        <p>As novidades dos tricôs e casacos do Inverno 2020 da Nexy estão de tirar o fôlego! As blusas, jaquetas, casacos chegam em nossa loja com shapes incríveis para complementar os looks da estação! As calças montaria estão um show a parte e você vai adorar nosso estilo e conforto!</p>
    </div>
</div>