color1_font = #FFFFFF
color1_font_hover = #878787
color1_bg = #494949
color1_bg_hover = #e8e8e8
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #99211d
color2_bg_hover = #721717
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #000
color3_bg_hover = #070707
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #000000
button_bg_hover = #fff
