.add-to-links
    li:not(.link-wishlist)
        display: none

    a
        display: flex
        justify-content: center
        align-items: center
        color: #000
        font-weight: light
        font-size: 14px

        .ico
            margin-right: 5px
            width: 30px
            height: 26px