#banner__home_banner_full
    margin-top: -16px

    @media media-max-lg
        order: -1

#banner__rulers
    position: sticky
    top: 74px
    z-index: 200
    margin-top: -16px
    background: var(--primary-hover)

    @media media-max-lg
        top: 70px

    .ruler
        display: flex
        justify-content: center
        align-items: center
        margin-right: 10px
        color: #000
        font-weight: light
        font-size: 19px

        @media media-max-sm
            font-size: 12px

        .ico
            margin-right: 15px
            width: 30px
            height: 30px
            color: var(--secundary)

            @media media-max-sm
                margin-right: 5px
                width: 20px
                height: 20px

        .z-truck
            width: 68px

            @media media-max-sm
                width: 58px

#banner__banner-category
    &:before
        display: block
        margin: 15px 0
        color: var(--text-color)
        content: 'Escolha a categoria'
        text-align: center
        text-transform: uppercase
        font-weight: light
        font-size: 20px

    .banner
        &__wrapper
            display: flex
            justify-content: space-between
            margin: -8px

            @media media-max-lg
                flex-flow: wrap

        &__item
            display: flex
            flex-flow: column nowrap
            padding: 8px

            @media media-max-lg
                flex: 0 0 50%

            .title
                display: block
                margin: 0
                padding: (gap / 2) 0 gap
                text-align: center
                text-transform: uppercase
                font-weight: light
                font-size: 18px
                line-height: 1

                @media media-max-lg
                    padding-bottom: 10px

        &__link
            order: -1

            img
                width: 100%
                object-fit: cover