.categories
    .categories__products
        display: none !important

    &__hide
        background: none
        color: var(--primary)

    &__show
        display: flex
        flex: 0 0 40px
        order: -1
        justify-content: center
        align-items: center
        margin-right: 15px
        padding: 0
        width: 40px
        height: 40px
        background: none
        box-shadow: none

        @media media-min-lg
            display: none

        &:hover
            background: none

            .ico
                color: var(--primary)

        .ico
            width: 34px
            height: 29px
            color: var(--primary)

        &:before
            display: none

    @media media-max-lg
        max-width: 90vw
        width: 300px
        background: #fff

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                background: none
                color: var(--primary-hover)
                font-size: 12px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0
            box-shadow: 0 1px 0 var(--primary)

        .all-li--1
            box-shadow: 0 -1px 0 var(--primary-hover)

        .all-a--0
            color: var(--primary)
            font-weight: light
            font-size: 16px

        .all-a--1
            color: var(--primary)
            font-size: 14px

        .all-ul--0
            box-shadow: 0 -1px 0 var(--primary)

    @media media-min-lg
        flex: 0 1 535px
        margin-right: 15px
        margin-bottom: 0 !important
        margin-left: auto
        min-width: 0
        background: none

        &__all
            display: none

        .a--0
            padding: 0 5px
            color: var(--primary)
            text-transform: uppercase
            text-transform: uppercase
            white-space: nowrap
            font-weight: semibold
            font-size: 15px

        .li--0
            flex: 0 0 auto

        .ul--0
            justify-content: space-around
