.configurable
    padding: gap 0 0

    &:before
        display: none

    .configurable__caption
        label
            font-weight: bold
            font-size: 16px

    .configurable-swatch-list
        display: inline-flex

        a
            padding: 2px
            min-width: 48px
            border-radius: 50%
            box-shadow: 0 0 0 1px #b5b5b5
            color: #b5b5b5

            img
                border-radius: 50%
