.footer
    @media media-max-lg
        text-align: center

    &-container
        margin-top: 50px

    .logo
        display: inline-block

        img, svg
            height: 58px

    .mymenu
        @media media-max-lg
            margin: 20px 0

        .a--0
            text-transform: uppercase
            font-weight: light
            font-size: 19px

    &__navs
        @media media-min-lg
            display: flex
            justify-content: space-around

    &__copyright
        margin-top: 50px
        padding: 20px 0
        text-align: center
        font-size: 18px