.head
    margin-bottom: 0 !important
    padding: 5px 0
    background: var(--primary)
    text-align: center
    font-size: 11px
    line-height: 20px

    &, a
        color: var(--primary-contrast)