.owl
    &-next, &-prev
        background: none
        box-shadow: none
        color: var(--primary)

        &:hover
            background: none
            color: var(--primary)

            @media media-min-lg
                color: var(--secundary)