.sharing-links
    padding: 10px 0
    border-bottom: solid 1px var(--border-color)

    .ico
        color: #000

    .list
        display: inline-flex

        &:before
            display: none

        a
            background: none !important

        li
            margin: 0