.tabs
    .tabs__tab
        padding-right: 0
        padding-left: 0
        border-bottom-color: var(--border-color)
        text-transform: uppercase
        font-weight: light
        font-size: 14px

        &:after
            font-weight: light
            font-size: 24px

        &.on:after
            content: '-'

    .tabs__content
        padding-right: 0
        padding-left: 0
        border: 0
        text-align: left

        &, .std
            font-size: 13px