.catalog-category-view, .catalogsearch-result-index
    .col-left, .page-title
        display: none

    .category-description
        padding: gap 0
        border: 0
        color: #000
        text-align: center
        font-size: 21px