.prod
    &__img
        @media media-min-lg
            flex: 1
            margin-right: 130px
            min-width: 0

    &__shop
        --border-color: #cccccc

        &
            text-align: center

        @media media-min-lg
            flex: 0 1 400px

        .product-rate
            display: none
            justify-content: center
            color: #000

        .add-to-cart
            .qty-wrapper
                display: none !important

            .add-to-cart-btn
                margin: 0 auto
                padding: 0
                max-width: 'calc(100% - %s)' % gap
                border-radius: 0
                background: var(--button)
                color: var(--button-contrast)
                text-transform: uppercase
                font-weight: bold
                font-size: 19px

                &:before
                    content: 'Colocar no carrinho'

                span
                    display: none

                &:hover
                    background: var(--button)
                    color: var(--button-contrast)

    &__name
        margin-bottom: (gap / 2)

        h1
            text-transform: uppercase
            font-weight: bold
            font-size: 25px
            line-height: 1.2

    &__prices
        .price-box-parcelado
            display: inline-block

            .preco-parcelado-sem-juros
                + .preco-parcelado
                    display: none

                .upto, .s-juros, .de
                    display: none

                .num, .value
                    span
                        font-weight: bold
                        font-size: 20px

            .preco-parcelado
                .de, .s-juros
                    display: none

                .num, .value
                    span
                        font-weight: bold
                        font-size: 20px

        .price-box
            display: inline-block

            .old-price
                display: none

            .special-price, .regular-price, .minimal-price
                .label
                    display: none

                .price span
                    color: #000
                    font-weight: light
                    font-size: 20px

    &__whatsapp
        border-top: solid 1px var(--border-color)
        border-bottom: solid 1px var(--border-color)

        a
            display: flex
            justify-content: center
            align-items: center
            padding: 10px 0
            color: #000
            font-size: 14px

        .icon
            margin-right: 5px
            width: 25px
            height: 25px

#product_addtocart_form
    @media media-min-lg
        justify-content: space-between
        overflow: hidden

.product-image-gallery
    box-shadow: none

.product-image-container
    display: flex
    width: 100%

    .product-image
        flex: 1
        min-width: 0

    .more-views
        order: -1
        margin-right: 20px
        width: 112px

        @media media-max-lg
            display: none

        .product-image-thumbs
            display: block

.product-image-thumbs
    .thumb-link
        box-shadow: none

        &:hover, &.on
            box-shadow: none